PORT=3000
MONGO_URI=example_uri

NODE_ENV=node_env

JWT_SECRET=tu_contra

RESEND_API_KEY=tu_resend_api_key
EMAIL_FROM=ejemplo@ejemplo.com
EMAIL_FROM_NAME=ejemplo

CLIENT_URL=ejemplo_cloudinary_url

CLOUDINARY_CLOUD_NAME=ejemplo
CLOUDINARY_API_KEY=ejemplo
CLOUDINARY_API_SECRET=ejemplo

ARCJET_KEY=ejemplo
ARCJET_ENV=ejemplo_development